useDynLib("caTools", .registration = TRUE, .fixes = ".C_")

import(bitops)

importFrom("grDevices", "col2rgb", "colorRampPalette", "gray", "rgb")
importFrom("graphics", "abline", "legend", "lines", "plot", "title")
importFrom("stats", "mad", "quantile", "runif", "runmed", "sd")
importFrom("utils", "download.file", "read.table")

export(base64decode)
export(base64encode)
export(colAUC)
export(combs)
export(cumsumexact)
export(LogitBoost)
export(predict.LogitBoost)
export(read.ENVI)
export(read.gif)
export(runmad)
export(runmax)
export(runmean)
export(runmin)
export(runquantile)
export(runsd)
export(sample.split)
export(sumexact)
export(trapz)
export(write.ENVI)
export(write.gif)

S3method("predict", "LogitBoost")
